@font-face {
    font-family: san-bold;
    src: url(img/SFCompactDisplay-Bold.otf);
}

body {
    font-family: san-bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header {
    padding-left: 120px;
    padding-right: 120px;
    background: #0A1016;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition-duration: 2s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #433C3B;
    min-width: 160px;
    box-shadow: 0.5px 0.5px 5px 0px rgba(137, 141, 141, 0.651);
    z-index: 2;
    opacity: 0;
    transition-duration: 1s;
    flex-direction: column;
    border-radius: 3px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    opacity: 1;
}

.dropdown:hover .nav-item {
    color: white;
    font-size: 24px;
    text-shadow: rgb(150, 245, 245) 5px 5px 10px;
}

.nav li {
    margin: 0 50px;
}

.dropdown-content-item {
    color: white;
    text-shadow: none;
    font-size: 24px;
    padding: 8px 16px;
}

.dropdown-content-item:hover {
    background-color: #7b7170;
}

.logo img {
    width: 98px;
}

.search {
    position: relative;
    width: 24px;
    height: 24px;
    background: #0A1016;
    border-radius: 5px;
    transition: 0.5s;
    overflow: hidden;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: #0A1016;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    background: white;
    transform: translate(6px, 6px) rotate(315deg);
}

.search.active {
    width: 360px;
}

.search .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 15px;
    background: white;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 15px;
    background: white;
    transform: rotate(315deg);
}