@font-face {
    font-family: san-bold;
    src: url(img/SFCompactDisplay-Bold.otf);
}

@font-face {
    font-family: san-regular;
    src: url(img/SFCompactDisplay-Regular.otf);
}

@font-face {
    font-family: san-light;
    src: url(img/SFCompactDisplay-Light.otf);
}

@font-face {
    font-family: san-thin;
    src: url(img/SFCompactDisplay-Thin.otf);
}

@font-face {
    font-family: san-ulight;
    src: url(img/SFCompactDisplay-Ultralight.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgba(0, 90, 131, 1) 0%, rgba(10, 200, 185, 1) 69%, rgba(205, 250, 250, 1) 100%);
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(circle, rgba(0, 90, 131, 1) 0%, rgba(10, 200, 185, 1) 69%, rgba(205, 250, 250, 1) 100%);
}

.wrapper {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px;
}

.wrapper-nofoot {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 1920px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
    background: #0A1016;
    position: fixed;
    z-index: 1000;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(90deg, rgba(205, 250, 250, 1) 0%, rgba(10, 200, 185, 1) 69%, rgba(0, 90, 131, 1) 100%);
    border-image-slice: 1;
    /* backdrop-filter: blur(5px); */
}

.header-noscroll {
    /* width: 1920px; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
    background: #0A1016;
    /* position: fixed;
    z-index: 1000; */
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(90deg, rgba(205, 250, 250, 1) 0%, rgba(10, 200, 185, 1) 69%, rgba(0, 90, 131, 1) 100%);
    border-image-slice: 1;
    /* backdrop-filter: blur(5px); */
}

.dropdown {
    position: relative;
    display: inline-block;
    transition-duration: 2s;
}

.dropdown-content {
    top: 25px;
    padding-top: 25px;
    display: none;
    position: absolute;
    background-color: #0A1016;
    min-width: 200px;
    z-index: 2;
    opacity: 0;
    transition-duration: 1s;
    flex-direction: column;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    opacity: 1;
}

.dropdown:hover .nav-item {
    color: white;
    font-family: san-bold;
    font-size: 16px;
}

.nav a {
    font-size: 16px;
    font-family: san-bold;
    color: white;
}

.nav li {
    margin: 0 20px;
}

.text-a {
    position: relative;
    overflow-x: hidden;
    padding: 5px 10px;
    border-radius: 5px;
}

.text-a::before {
    content: '';
    width: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #C79A3B;
    z-index: 1;
    transition: 0.5s;
}

.text-a:hover::before {
    height: 0;
}

.text-a::after {
    content: '';
    width: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    background-color: #C79A3B;
    z-index: 2;
    transition: 0.5s;
}

.text-a:hover::after {
    width: 100%;
}

.dropdown-content-item {
    color: white;
    text-shadow: none;
    font-size: 20px;
    font-family: san-bold;
    padding: 8px 16px;
}

.dropdown-content-item:hover {
    background-color: #5B5A57;
    border-radius: 5px;
}

.logo img {
    width: 98px;
}

.search {
    position: relative;
    width: 200px;
    height: 28px;
    background: #5B5A57;
    border-radius: 5px;
    transition: 0.5s;
    /* overflow: hidden;  */
}

.search .icon {
    position: absolute;
    top: 4px;
    left: 6px;
    width: 22px;
    height: 22px;
    background: #5B5A57;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    transform: translate(-3px, -3px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background: white;
    transform: translate(4px, 4px) rotate(315deg);
}

.gap-search {
    gap: 30px;
    justify-content: flex-end;
}

.search .input {
    position: relative;
    width: 140px;
    height: 22px;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 10px 10px;
    font-family: san-regular;
    background: #5B5A57;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 10px;
    background: white;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 10px;
    background: white;
    transform: rotate(315deg);
}

.icon-account {
    color: white;
}

ion-icon {
    font-size: 22px;
}

.section1 {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    align-items: center;
    justify-content: end;
}

.slide-dot {
    position: absolute;
    padding-bottom: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #5B5A57;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active1 {
    background-color: #C79A3B;
}

.section2 {
    padding-top: 120px;
    padding-bottom: 120px;
}

h1 {
    font-size: 64px;
    line-height: 76px;
    font-family: san-bold;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.row1 {
    display: flex;
    gap: 30px;
}

.event {
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.feature-event {
    overflow: hidden;
    height: 100%;
}

.image {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.event:hover .image {
    transform: scale(1.3);
}

.content-event {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.time-event {
    font-size: 14px;
    line-height: 17px;
    font-family: san-regular;
    color: white;
}

.tittle-event {
    font-size: 24px;
    line-height: 29px;
    font-family: san-bold;
    color: #FFFFFF;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h3 {
    font-size: 36px;
    line-height: 43px;
    font-family: san-bold;
    color: #FFFFFF;
}

h4 {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    font-family: san-ulight;
}

.footer {
    background: #0A1016;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.information span {
    color: white;
    font-family: san-ulight;
    font-size: 14px;
    line-height: 17px;
}

.gap-logo {
    gap: 40px;
}

.logo-riot {
    width: 124px;
}

.logo-garena {
    width: 63px;
}

.hidden {
    overflow: hidden;
}

.btn-defaut {
    padding: 16px 32px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(319deg, rgba(0, 90, 131, 1) 0%, rgba(10, 200, 185, 1) 69%, rgba(205, 250, 250, 1) 100%);
    font-family: san-bold;
    font-size: 16px;
    color: white;
}

.btn-defaut:hover {
    filter: drop-shadow(0px 0px 40px #005A83);
}

.center {
    align-self: center;
}